* {
    padding: 0;
    margin: 5 0 0 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

nav {
    background: #0466c8;
    height: 80px;
    width: 100%;
}

.nav-container {
    background: #0466c8;
    height: 80px;
    width: 63%;
    display: flex;
    justify-content: space-between;
}

.home-content {
    height: 100%;
    width: 80%;
    padding-left: 150px;
    padding-right: 150px;
    overflow: hidden;

}

.lgn-container {
    width: 100%;
    height: 100%;
    margin-top: 140px;
    display: flex;
    justify-content: center;
    align-content: center;
}


.container {
    display: flex;
    flex-direction: column;
}

.back-arrow {
    height: 50px;
    width: 50px;
    background: #6c757d;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-arrow:hover {
    background:#99a5b0;
    cursor:pointer;
}


.menu-aut-top {
    height: 120px;
    width: 35%;
    font-size: 20px;
    background: #0466c8;
    color: white;
    border: solid 1px black;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    display: flex;
    align-items: center;
}
.menu-aut-top-img {
    height:75px;
    width:75px;
    border-radius: 50%;
    float:left;
    margin-left:40px;
}

.menu-aut-top div {
    height:75px;
}


.report-container{
    height:100%;
    display:flex;
    flex-direction:column;
}

.menu-aut-top p {
    float: right;
    margin-right: 40px;
}


.menu-aut-container {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-aut-content {
    margin-bottom: 20px;
    height: 100%;
    width: 35%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-left: solid 1px;
    border-right: solid 1px;
    border-bottom: solid 1px;
}



.menu-aut {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px;
}

.menu-aut li {
    font-size: 35px;
    color: white;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.button {
  width:50%;
  position: relative;
  display: inline-block;
  padding: .8em 4em;
  border: 2px solid #333;
  color: #333;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  transition: .3s;
}
.button::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: '';
  background: #333;
  transition: transform .3s;
}
.button:hover {
  color: #fff;
}

.button01::before {
  transform-origin: right top;
  transform: scale(0, 1);
}
.button01:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.myImages {
    animation: showNav 250ms ease-in-out both;
}

.home-top {
    height: 35%;
    width: 100%;
    position: relative;
    z-index: 1;
    padding-top: 5px;
    
}


.home-top img {
        width: 100%;
        height:258px;
        border-radius: 15px 15px 10px 10px;
        border: 1px solid rgba(255, 0, 0, .5);
}


.footer-carrera {
    position: absolute;
    bottom: 0%;
    left: 0%;
    z-index: 999;
    width: 100%;
    background-color: cornflowerblue;
    height: 55px;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 5px;
    border: 1px solid rgba(255, 0, 0, .5);
    font-size: 2rem;
    border-radius: 0px 0px 10px 10px;
}

.home-middle {
    height:70%;
    width: 100%;
    display:block;
    position:relative;
}

.left {
    padding-top: 20px;
    width: 100%;
    height: 450px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, minmax(120px, 1fr));
    grid-template-rows: repeat(3, 200px);
}

.card {
    height:100%;
    padding:10px;
    background-color: rgb(232, 228, 223);
    border: solid 1px;
}
.card p {
    font-size: 0.75rem;
    margin-top: 1rem;
}

.card:hover {
    background-color: rgb(189, 177, 164);
}


.rigth {
    margin-top: 20px;
    display: inline-block;
    height: 100%;
    width: 35%;
    background-color: white;
    position: absolute;
    right: 0%;
    top: 0%;
    text-align:center;
    padding-top: 38px;
}


.rigth img {
        height: 18%;
        width: 60%;
        margin-bottom:10px;
    }


.rigth img:hover {
    cursor:pointer;

}


#Content1 {
    height:100%;
    width: 100%;
    background-color: black;
}

.panel-container
{
    height:70%;
    display:flex;
    justify-content:center;
    align-content:center;
}

.grillaInsc {
    margin-top: 30px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

.grillaInsc td {
    padding:15px;
    text-align:center;
}

.grillaInsc tbody:first-child{
    text-align:center;
}


    .logo {
        color: white;
        font-size: 35px;
        line-height: 80px;
        padding: 0 100px;
        font-weight: bold;
        float: right;
    }

nav ul {
    float: left;
    margin-right: 20px;
}

nav ul li {
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
}

nav ul li a {
            color: white;
            font-size: 17px;
            padding: 7px 13px;
            border-radius: 3px;
            text-transform: uppercase;
}

a:hover {
    background: #1b9bff;
    transition: .5s;
}

.active {
    background: #1b9bff;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

.lgnContainer {    
    height: 100%;
    width: 100%;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
.checkbtn {
        display: block;
    }



nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

nav ul li a {
            font-size: 20px;
        }

a:hover, a.active {
        background: none;
        color: #0082e6;
    }

#check:checked ~ ul {
    left: 0;
    }
}

section {
    background: url(bg1.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}


/* Agregado por Luca vvv*/

.mGrid {
    width: 100%;
    background-color: #fff;
    margin: 5px 0 10px 0;
    border: solid 1px #525252;
    border-collapse: collapse;
}

.mGrid td {
        padding: 2px;
        width: auto;
        border: solid 1px #c1c1c1;
        color: #717171;
    }

.mGrid th {
        padding: 4px 2px;
        color: #fff;
        background: #0466c8;
        border-left: solid 1px #525252;
        font-size: 0.9em;
    }

.mGrid .alt {
        background: #fcfcfc;
    }

    .mGrid .pgr {
        background: #0466c8;
    }

.mGrid .pgr table {
            margin: 5px 0;
        }

.mGrid .pgr td {
            border-width: 0;
            padding: 0 6px;
            border-left: solid 1px #666;
            font-weight: bold;
            color: #fff;
            line-height: 12px;
        }

.mGrid .pgr a {
            color: #0466c8;
            text-decoration: none;
        }

.mGrid .pgr a:hover {
                color: #0466c8;
                text-decoration: none;
}


.button-10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    margin: 10px;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    width: 125px;
    border-radius: 6px;
    border: none;
    color: #fff;
    background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
    background-origin: border-box;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: 1s all;
}

.button-10:focus {
        box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
        outline: 0;
    }

.divider {
    width: 5px;
    height: auto;
    display: inline-block;
}

.btn-panel {
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: center;
    align-content: center;
}