* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}
nav {
    background: #0466c8;
    height: 80px;
    width: 100%;
}

.nav-container {
    background: #0466c8;
    height: 80px;
    width: 63%;
    display: flex;
    justify-content: space-between;
}

.home-content {
    height: 100%;
    width: 80%;
    padding-left: 150px;
    padding-right: 150px;
    overflow: hidden;

}

.menu-aut-top {
    height: 70px;
    width: 35%;
    font-size: 35px;
    background: #0466c8;
    color: white;
    border: solid 1px black;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-aut-container {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-aut-content {
    margin-bottom: 20px;
    height: 70%;
    width: 35%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.menu-aut {
    border-left: solid 1px;
    border-right: solid 1px;
    border-bottom: solid 1px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px;
}

.menu-aut li {
    font-size: 35px;
    color: white;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.button {
  width:50%;
  position: relative;
  display: inline-block;
  padding: .8em 4em;
  border: 2px solid #333;
  color: #333;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  transition: .3s;
}
.button::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: '';
  background: #333;
  transition: transform .3s;
}
.button:hover {
  color: #fff;
}

.button01::before {
  transform-origin: right top;
  transform: scale(0, 1);
}
.button01:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.myImages {
    animation: showNav 250ms ease-in-out both;
}

.home-top {
    height: 35%;
    width: 100%;
    position: relative;
    z-index: 1;
    padding-top: 5px;
    
}


.home-top img {
        width: 100%;
        height: 75%;
        border-radius: 10px 10px 0px 0px;
        border: 1px solid rgba(255, 0, 0, .5);
}


.footer-carrera {
    position: absolute;
    bottom: 5%;
    left: 0%;
    z-index: 999;
    width: 100%;
    background-color: cornflowerblue;
    height: 55px;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 5px;
    border: 1px solid rgba(255, 0, 0, .5);
    font-size: 2rem;
    border-radius: 0px 0px 10px 10px;
}

.home-middle {
    height:70%;
    width: 100%;
    display:block;
    position:relative;
}

.left {
    height: 100%;
    width: 75%;
    padding-top: 30px;
    display: block;
    margin:auto;
    float:left;
}

.card {
    width: 33%;
    padding: 10px;
    background-color: rgb(232, 228, 223);
    border: solid 1px;
    margin-bottom: 5px;
    float:left;
}
.card p {
    font-size: 10px;
    margin-top: 5px;
}

.card:hover {
    background-color: rgb(189, 177, 164);
}


.rigth {
    margin-top: 20px;
    display: inline-block;
    height: 100%;
    width: 35%;
    background-color: white;
    position: absolute;
    right: 0%;
    top: 0%;
    text-align:center;
    padding-top: 38px;
}


.rigth img {
        height: 18%;
        width: 60%;
        margin-bottom:10px;
    }


.rigth img:hover {
    cursor:pointer;

}


#Content1 {
    height:100%;
    width: 100%;
    background-color: black;
}

.grillaInsc {
    margin-top: 30px;
    padding: 30px;
    margin-left:auto;
    margin-right:auto;
}


.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    float: right;
}

nav ul {
    float: left;
    margin-right: 20px;
}

nav ul li {
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
}

nav ul li a {
            color: white;
            font-size: 17px;
            padding: 7px 13px;
            border-radius: 3px;
            text-transform: uppercase;
}

a:hover {
    background: #1b9bff;
    transition: .5s;
}

.active {
    background: #1b9bff;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

.lgnContainer {    
    height: 100%;
    width: 100%;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
.checkbtn {
        display: block;
    }



nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

nav ul li a {
            font-size: 20px;
        }

a:hover, a.active {
        background: none;
        color: #0082e6;
    }

#check:checked ~ ul {
    left: 0;
    }
}

section {
    background: url(bg1.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}
.footer-basic {
  width:100%;
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0px 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}


.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}